@charset "utf-8";

body{ font-family: "Microsoft YaHei";}
.lazy{ background: url("../images/240.gif") center center no-repeat;}
/* header
-------------------------------------------------------------------------------- */
.header-inner,
.navigation,
.main-content-inner,
.footer-inner{width: 1200px; margin: 0 auto;}

.header-inner{ padding: 20px 0 14px;}
.logo-box{ width: 205px; float: left; margin-right: 72px; padding-top: 10px;}
.yc-head-search{ width: 526px; float: left; padding-top: 16px; margin-right: 14px;}
.search-from-box input{float: left;}
.search-txt{ width: 388px; height: 36px; padding: 0 4px; line-height: 36px; font-size: 13px; color: #999; border: 3px solid #29b4bd; float: left;}
.icon-search{ float: left; height: 42px; width: 124px; line-height: 36px; text-align: center; border: 3px solid #29b4bd; *border: none; background-color:  #29b4bd;font-size: 16px; color: #fff;font-family: "Microsoft YaHei";}
.history-head{ position: relative; display: inline-block; float: left; font-size: 13px; color: #999; padding-top: 16px; z-index: 3;}
.history-default{ display: inline-block; width: 62px; padding: 0 5px; color: #999; display: inline-block; height: 40px; line-height: 40px; border:0px solid  text-align: center;}
.history-head a:hover{color: #29b4bd;}
.history-head ul{ border: 1px solid #29b4bd; position: absolute; left: 0; top: 58px; background-color: #fff; line-height: 0; padding-bottom: 4px; z-index: 3;}
.history-head ul li{ font-size: 12px;}
.history-head ul li a{display: inline-block; width: 62px; height: 24px; margin: 0 5px; line-height: 24px; white-space: nowrap; text-overflow:ellipsis; overflow: hidden; text-align: center; border-bottom:1px dashed #fff; color:#29b4bd;}
.history-head ul li a:hover{ color: #29b4bd; border-bottom:1px dotted #29b4bd; }
.qr-code{ width: 100px; float: right; text-align: center; line-height: 0;}
.qr-code p{ font-size: 13px; line-height: 14px; color: #29b4bd;}

/* navigation
-------------------------------------------------------------------------------- */
.nav-box{ height: 40px; background-color: #29b4bd; margin-bottom: 14px; position: relative; z-index: 2;}
.nav-list{ width: 850px; float: left;}
.nav-right{ width: 336px; float: right;}
.navigation ul li{ float: left; margin-right: 20px; position: relative;}
.navigation .user-entrance{ float: right; font-size: 0;}
.navigation .user-entrance a,
.navigation .user-entrance .line{font-size: 14px; color: white; line-height: 40px;}
.navigation .user-entrance .line{ padding: 0 6px;}
.navigation .user-entrance .merchants{ margin: 0 6px 0 40px;}
.navigation ul li a{display: inline-block; color: white; line-height: 35px; height: 35px; margin-top: 5px; font-size: 14px; padding: 0 20px; }
.navigation ul li a:hover{ color: #fff;}
.navigation ul .nav-active a{ color: #29b4bd; background-color: white;}
.navigation ul .nav-active a:hover{color: #29b4bd;}
.navigation ul li a span{display: inline-block; cursor: pointer;}

/* .navigation .icon-down{ display: inline-block; width: 8px; height: 7px; background: url("../images/down_white.png") left 0 no-repeat; _background-position: left 8px; vertical-align: middle; margin-left: 4px;}

.navigation .icon-down-hover{ display: inline-block; width: 8px; height: 7px; background: url("../images/down_blue.png") left 0 no-repeat; _background-position: left 8px; vertical-align: middle; margin-left: 4px;}

.navigation .down-file{ background-color: white; position: absolute; top: 40px; left: 0; width: 130px; padding:7px; display: none; z-index: 10;}
.navigation .down-file a { display: block; float: none; color: #29b4bd; height: 32px; line-height: 32px; font-size: 12px; padding:0 8px; border-bottom: 1px solid #29b4bd;}
.navigation .down-file a:hover{ background-color: #29b4bd; color: white;} */
/* banner
-------------------------------------------------------------------------------- */
.banner-box{ width: 1200px; margin: 0 auto 10px;}
.left-banner{ float: left; width: 850px;}

.banner { position: relative; overflow: auto; text-align: center;}
.banner li { list-style: none; }
.banner ul li { float: left; }
#b03 { width: 850px;}
#b03 ul li img{ width: 850px; height: 440px;}

#b03 .dots { position: absolute; left: 0; right: 0; bottom: 20px; line-height: 0; *padding-left: 45%;}
#b03 .dots li { display: inline-block; *float: left; width: 6px; height: 6px; margin: 0 4px; text-indent: -999em; border: 1px solid #fff; border-radius: 6px; cursor: pointer; opacity: 1; -webkit-transition: background .5s, opacity .5s; -moz-transition: background .5s, opacity .5s; transition: background .5s, opacity .5s;}
#b03 .dots li.active {background: #fff;opacity: 1;border: 2px solid #fff; }

/* right-info
-------------------------------------------------------------------------------- */
.right-info{ float: right; width: 320px; height: 424px; padding: 8px; background: url("../images/bg.jpg") left top no-repeat;}
.counselor{ position: relative; padding: 0 26px; margin: 10px 0 6px;}
.counselor a:hover{ color: #29b4bd;}
.counselor-img{ position: relative;}
.counselor-img img{ width: 50px; height: 50px; position: absolute; left: 0; top: 0;}
.counselor-name{ line-height: 50px; height: 50px; width: 140px; font-size: 16px; margin: 0 0 0 66px; display: inline-block; white-space: nowrap; text-overflow:ellipsis; overflow: hidden; float: left;}
.counselor-change{ color: #999; font-size: 12px; line-height: 50px;  display: inline-block; width: 52px; text-align: right; float: right;}
.counselor-introduction{padding: 0 26px; margin: 0 0 24px; font-size: 12px; color: #999; line-height: 20px; height: 40px; overflow: hidden;}
.consult{ padding: 0 26px;}
.consult h3{ font-size: 14px; margin-bottom: 10px; font-weight: normal;}
.consult h4{ font-size: 12px; color: #999; margin-bottom: 24px; font-weight: normal;}
.input-box{ margin-bottom: 6px;}
.input-box input{ float: left; font-size: 13px;}
.your-tel{ width: 150px; padding: 0 4px; height: 34px; line-height: 34px; border:1px solid #e6e6e6; color: #999;}
.consult-btn{ cursor: pointer; width: 104px; height: 36px; border:1px solid #fe9f1b; *border: 0; background-color: #fe9f1b; color: white; text-align: center; padding: 0;}
.consult-online{ height: 14px; background: url("../images/hua.png") left top no-repeat; text-align: center; margin-bottom: 20px; font-weight: normal;}
.kefu{ padding-left: 64px; margin-bottom: 20px;}
.kefu span{ display: block; float: left; width: 38px; line-height: 1px; margin: 0 5px; text-align: center;}
.kefu span a{ color: #272636; font-size: 12px; text-align: center; line-height: 22px;}
.kefu span .qq-icon{ margin-left: 2px; line-height: 1px; display: block; width: 34px; height: 34px; background: url("../images/kefu_15.png") left top no-repeat;}
.kefu span .weixin-icon{ margin-left: 2px; line-height: 1px; display: block; width: 34px; height: 34px; background: url("../images/kefu_15.png") -49px top no-repeat;}
.kefu span a:hover{ color: #29b4bd; font-size: 12px; line-height: 22px;}
.consult-tel{ text-align: center;}


/* main-content
-------------------------------------------------------------------------------- */
.step{ margin-bottom: 50px;}
.step-left{ float: left; width: 848px; border:1px solid #e6e6e6;}
.step-right{ float: right; width: 334px; border:1px solid #e6e6e6;}

.step-text1,
.step-text2,
.step-text3{ float: left; padding: 56px 0 50px 15px;}

.step-text1,
.step-text2{ background: url("../images/fang.jpg") right center no-repeat;}

.step-text1{width: 257px;}
.step-text2{width: 281px;}
.step-text3{ width: 265px;}

.step-text1 img,
.step-text1 p,
.step-text2 img,
.step-text2 p,
.step-text3 img,
.step-text3 p{ float: left;}

.step-text1 p{width: 145px;}
.step-text2 p{width: 160px;}
.step-text3 p{ width: 160px;}
.step-text1 p,
.step-text2 p,
.step-text3 p{ margin-left: 16px; font-size: 12px; color: #666; line-height: 22px;}

.step-right{ padding-bottom: 10px;}
.step-right h2{ margin-bottom: 6px; padding: 0 20px; background-color: #29b4bd; color: white; line-height: 40px; height: 40px; text-align: left; font-weight: normal;}
.step-right h2 a{ color: white;}
.step-right ul{ margin: 0 20px;}
.step-right ul li{ line-height: 1px;}
.step-right ul li a{font-size: 13px; color: #333; line-height: 28px; display: inline-block; width: 294px; height: 28px; white-space: nowrap; text-overflow:ellipsis; overflow: hidden;}
.step-right ul li a:hover{ color: #29b4bd;}



/* wedding-case
-------------------------------------------------------------------------------- */
.wedding-case{ margin-bottom: 45px;}
.flowers-title{ height: 23px; position: relative; margin-bottom: 40px;}
.title-line{ height: 2px; width: 100%; background-color: #f1f1f1; text-indent: -9999px; position: absolute; top: 50%; margin-top: -1px; z-index: 1; font-size: 0;}
.flowers-title h2{ position: relative;z-index: 2; text-align: center;}
.uniform2 li{ float: left; width: 600px; position: relative; padding-bottom: 20px;}
.uniform2 li .label-module{position: absolute; right: 18px; top: 0; width: 150px; height: 328px; border: 1px solid #dadada;background:rgba(255, 255, 255, 0.86) none repeat scroll 0 0 !important; background:#fff;}
.main-img img{ width: 600px; height: 358px;}
.label-module .counselor-img img{ border-radius: 50%;}
.label-module .counselor-img { width: 50px; height: 50px; margin: 12px auto 8px;}
.label-module h2{ text-align: center; font-size: 14px; font-weight: normal; margin-bottom: 10px;}
.label-module h2 a{ color: #333;}
.label-module h2 a:hover{ color: #29b4bd;}
.caozuo{ text-align: center; font-size: 12px; margin-bottom: 14px;}
.caozuo .heart{ color: #d20404;}
.caozuo .heart i{ margin-right: 4px;}
.shop{ margin-left: 18px;}
.label-module h3{ font-size: 12px; font-weight: normal; text-align: center; color: #29b4bd; margin-bottom: 20px;}
.label-module .team-members{ text-align: center; font-size: 12px; margin-bottom: 30px;}
.label-module .team-members p{ line-height: 20px;}
.platform-price{ text-align: center; margin-bottom: 10px; *margin-bottom: 6px; line-height: 1px;}
.platform-price span{ display: inline-block; color: white; background-color: #000; font-size: 13px; line-height: 13px; font-family: SimHei; padding: 8px 10px;}
.address{ text-align: center; font-size: 12px;}
.address i{ color: #5da8a1; margin-right: 6px;}
.more-link{ text-align: center;}
.more-link a{ display: inline-block; color: white; background-color: #29b4bd; font-size: 16px; padding: 12px 90px; *padding: 10px 90px;}
.more-link a i{ margin-left: 50px; font-size: 18px;}



/* wedding-planner
-------------------------------------------------------------------------------- */
.wedding-planer .flowers-title{ margin-bottom: 45px;}
.theme-nav{ padding: 0 70px 68px;}
.theme-nav dl{ width: 212px; float: left; text-align: center;}
.theme-nav dt a{display: inline-block; *display: block; width: 70px; height: 70px; line-height: 0; background: url("../images/theme.png") left top no-repeat;}
.theme-nav dl dd a{ color: #333; font-size: 16px;}

.theme1 dt a{ background-position: left 0; text-indent: -9999px;}
.theme1 dt a:hover{ background-position: left -119px;}
.theme2 dt a{ background-position: -195px 0; text-indent: -9999px;}
.theme2 dt a:hover{ background-position: -195px -119px;}
.theme3 dt a{ background-position: -390px 0; text-indent: -9999px;}
.theme3 dt a:hover{ background-position: -390px -119px;}
.theme4 dt a{ background-position: -585px 0; text-indent: -9999px;}
.theme4 dt a:hover{ background-position: -585px -119px;}
.theme5 dt a{ background-position: -780px 0; text-indent: -9999px;}
.theme5 dt a:hover{ background-position: -780px -119px;}


.col-4{ float: left; width: 285px;}
.col-4-mar{ margin-right: 20px; _margin-right: 16px; float: left; width: 285px;}
.theme-members{border: 1px solid #ebebeb; position: relative; padding-top: 72px;}
.theme-members .counselor-img{ float: left;}
.theme-members .counselor-img,
.theme-members .counselor-img img{ width: 70px; height: 70px;}
.theme-members-head{ width: 239px; padding: 0 20px 0 24px; position: absolute; top: -28px;}
.counselor-right{ width: 159px; float: right; font-size: 14px; line-height: 20px; padding-top: 30px;}
.counselor-right .heart{ font-size: 12px; color: #d20404; margin-left: 20px;}
.counselor-right .heart i{ margin-right: 4px;}
.counselor-right .shop{ margin-left: 15px;}
.counselor-right span{ font-size: 13px;}
.counselor-right em{ font-size: 12px; font-style: normal; color: #999; text-decoration: line-through; margin-left: 6px;}
.counselor-info{ font-size: 12px; line-height: 20px; margin: 0 10px 40px; text-align: justify; height: 60px; overflow: hidden;}
.counselor-case-img a{display: block; float: left; width: 137px; height: 64px; margin:0 3px 3px 0;}
.counselor-case-img{ padding-left: 3px; line-height: 0; font-size: 0;}
.counselor-case-img img{ width: 137px; height: 64px;}
.wedding-planer .uniform4{ margin-bottom: 40px;}
.wedding-planer .more-link{ margin-bottom: 60px;}

/* wedding-photography
-------------------------------------------------------------------------------- */
.wedding-photography .flowers-title{ margin-bottom: 40px;}
.photography-title{ margin: 10px 0 10px;_margin: 6px 0 0; *margin: 6px 0 5px; }
.photography-title h2{ font-size: 16px; font-weight: normal; float: left; width: 210px; padding-left: 5px;}
.photography-title h2 a{display: block; width: 210px; height: 16px; overflow: hidden; text-overflow:ellipsis; white-space: nowrap;}
.photography-caozuo{ float: right;width: 55px; display: block;}
.photography-caozuo .heart{ color: #666; font-size: 14px;}
.photography-caozuo .heart:active,
.photography-caozuo .heart:hover{ color: #d20404;}
.photography-caozuo .shop{ margin-left: 10px;}
.photography-price{ font-size: 13px; padding-left: 5px;}
.photography-price em{ font-size: 12px; text-decoration: line-through; font-style: normal; color: #999; margin-left: 6px;}
.wedding-photography .uniform4{ margin-bottom: 40px;}
.wedding-photography .more-link{ margin-bottom: 60px;}


/* wedding-banquet
-------------------------------------------------------------------------------- */
.col-3{float: left; width: 386px;}
.col-3-mar{ margin-right: 21px; _margin-right: 16px; margin-bottom: 20px;}
.col-3-1{ margin-left: 0;}
.photography-price .heart{ font-size: 16px;}
.wedding-banquet .uniform3{ margin-bottom: 40px;}
.wedding-banquet .flowers-title{ margin-bottom: 30px;}
.wedding-banquet .more-link{ margin-bottom: 60px;}
.wedding-banquet .photography-title h2{ width: 300px;}
.wedding-banquet .photography-title h2 a{ width: 300px;}
.wedding-banquet .photography-caozuo{ width: 60px;}
.uniform3 .photography-caozuo .heart i{ font-size: 16px;}


/* wedding-banquet
-------------------------------------------------------------------------------- */
.uniform3-border{ border: 1px solid #dfdfdf; padding-bottom: 10px;}
.uniform3 img{width: 100%;}
.uniform3 .shop img{width: auto;}
.photography-title h2 em{ font-style: normal; font-size: 12px; color: #666;}
.banquet-price{font-size: 12px; color: #666;}
.banquet-price em{ font-style: normal; margin: 0 4px; text-decoration: none;}
.photography-price .address{ text-decoration: none; background: url("../images/address.png") left center no-repeat; padding-left: 16px; margin-left: 40px; line-height: 14px;}
.uniform3-border .photography-title h2 { padding-left: 10px;}
.uniform3-border .photography-title h2 a{display: inline; width: auto; height:auto; overflow: auto; text-overflow:normal; white-space: normal;}
.uniform3-border .photography-price { padding-left: 10px;}
.uniform3-border .photography-caozuo{ width: 60px;}

.conditions-module{ padding: 20px 0 16px;}
.conditions-module dl {margin-bottom: 12px;}
.conditions-module dl dt,
.conditions-module dl dd{ float: left; display: inline-block;}

.conditions-module dl dt{ width: 66px; text-align: right; font-size: 16px; height: 22px; line-height: 22px; margin-right: 10px;}
.conditions-module dl dd { width: 1124px; float: right;}
.conditions-module dl dd a{ display: inline-block; font-size: 14px; color: #999; padding: 0 16px; margin: 0 7px;height: 22px; line-height: 22px; margin-bottom: 10px;}
.conditions-module dl dd a:hover{ color: #fff; background-color: #29b4bd;}
.conditions-module dl dd .select-current{ display: inline-block; color: #fff; background-color: #29b4bd;}

.pagination-box{ text-align: center; padding: 60px 0 30px; font-size: 0;}
.pagination{ font-size: 0; _height:38px;}
.pagination a{ border: 1px solid #f4f4f4;}
.pagination a,
.pagination span{ vertical-align: middle; color: #333; font-size: 12px; display: inline-block; height: 34px; line-height: 34px; padding: 0 13px;}
.pagination span{ color: #999;}
.pagination .prev{margin-right: 4px;}
.pagination .next{ margin-left: 4px;}
.pagination .prev,
.pagination .next{ font-size: 12px; _padding-top: 10px; _height: 24px;}
.pagination a,
.pagination a i{font-size: 14px;}
.pagination a:hover{color: #fff; background-color: #fe9f1b;}
.pagination .disabled{ color: #999; cursor: not-allowed;}
.pagination .current{color: #fff; background-color: #fe9f1b;}
.pagination span input{ width: 45px; height: 18px; text-align: center;border: 1px solid #f4f4f4;}

.paixu{ background-color: #f7f7f7; border: 1px solid #dfdfdf; margin-bottom: 10px;}

/* hunsha-sheying
-------------------------------------------------------------------------------- */
.zhutu{ display: block; width: 307px; height: 226px; float: left;}
.zhutu img{ width: 100%; height: 100%;}
.right-img-box{ width: 75px; float: right;}
.right-img-box a{ display: block; width: 75px; height: 55px; margin-bottom: 2px;}
.right-img-box a img{width: 100%; height: 100%;}

/* hunli-taoxi
-------------------------------------------------------------------------------- */
.img3{ margin-bottom: 10px;}
.img3 .zhutu3{ display: block; width: 384px; height: 216px; margin-bottom: 4px;}
.img3 .zhutu3 img{ width: 100%; height: 100%;}
.img3 .right-img-box3{ width:100%;}
.img3 .right-img-box3 a{ display: block; width: 190px; height: 106px; float: left;}
.img3 .right-img-box3 .img-first{ margin-right: 4px;}
.img3 .right-img-box3 a img{width: 100%; height: 100%;}
.module-left{ float: left; width: 100px; margin-left: 10px; _margin-left: 5px;}
.module-right{ float: right; width: 244px; margin-right: 10px; _margin-right: 5px;}
.module-left .counselor-img{ width: 50px; height: 50px; margin: 0 0 10px 25px;}
.module-left h4{ font-size: 13px; text-align: center; margin-bottom: 10px; font-weight: normal;}
.module-left h4 a{ display: block; width: 100%; height: 14px; overflow: hidden;text-overflow:ellipsis; white-space: nowrap;}
.module-left .price span{ font-size: 18px; color: white; background-color: #000; padding:0 10px; line-height: 24px;}
.module-right h2{ font-size: 16px; margin-bottom: 12px; font-weight: normal;}
.module-right h2 a{ display: block; width: 100%; height: 16px; overflow: hidden;text-overflow:ellipsis; white-space: nowrap;}
.module-right p{ font-size: 12px; line-height: 16px; height: 65px; overflow: hidden; margin-bottom: 20px; color: #666;}
.module-right .address{ text-align: left;}
.module-right .address em{ padding-left: 15px; line-height: 14px; font-style: normal; background: url("../images/address.png") left center no-repeat; color: #999;}




