@charset "utf-8";

body{ font-family: "Microsoft YaHei";}
.lazy{ background: url("../images/240.gif") center center no-repeat #f3f3f3;}
/*gotop*/
.cbbfixed {position: fixed;right: 10px;transition: bottom ease .3s;bottom: -85px;z-index: 3;cursor:pointer;}
.cbbfixed .cbbtn {width: 40px;height: 40px;display: block;background-color: #29b4bd;}
.cbbfixed .gotop {transition: background-color ease .3s;margin-top: 1px;}
.cbbfixed .gotop .up-icon{float:left;margin:14px 0 0 9px;width:23px;height:12px;background: url("../images/side-icon02.png");}
.cbbfixed .gotop:hover {background-color:#2c2d2e;}
.cbbfixed .cweixin {background: #dadbdd;}
.cbbfixed .cweixin div {background: url("../images/erwei.png");width: 194px;height: 199px;position: absolute;left: -194px;top: -115px;opacity: 0;transform: scale(0);    -webkit-transform: scale(0);transform-origin: 100% 70%;-webkit-transform-origin: 100% 70%;transition: transform ease .3s,opacity ease .3s;-webkit-transition: all ease .3s;display:none\0;*display:none;}
.cbbfixed .cweixin:hover div {display: block;transform: scale(1);-webkit-transform: scale(1);opacity: 1;*display:block;}
.cbbfixed .cweixin .weixin-icon{float: left;margin:12px 0 0 11px;width:18px;height: 18px; background: url("../images/side-icon01.png");}
/* header
-------------------------------------------------------------------------------- */
.header-inner,
.navigation,
.main-content-inner,
.footer-inner{width: 1200px; margin: 0 auto;}
.main-content{ margin-bottom: 60px;}
.header-inner{ padding: 20px 0 14px;}
.logo-box{ width: 205px; float: left; margin-right: 72px; padding-top: 10px;}
.yc-head-search{ width: 526px; float: left; padding-top: 16px; margin-right: 14px;}
.search-from-box input{float: left;}
.search-txt{ width: 388px; height: 36px; padding: 0 4px; line-height: 36px; font-size: 13px; color: #999; border: 3px solid #29b4bd; float: left;}
.icon-search{ float: left; height: 42px; width: 124px; line-height: 36px; cursor: pointer; text-align: center; border: 3px solid #29b4bd; *border: none; background-color:  #29b4bd;font-size: 16px; color: #fff;font-family: "Microsoft YaHei";}
.history-head{ position: relative; display: inline-block; float: left; font-size: 13px; color: #999; padding-top: 16px; z-index: 3;}
.history-default{ display: inline-block; width: 62px; padding: 0 5px; color: #999; display: inline-block; height: 40px; line-height: 40px; border:0px solid;  text-align: center;}
.history-head a:hover{color: #29b4bd;}
.history-head ul{ display: none; border: 1px solid #29b4bd; position: absolute; left: 0; top: 56px; background-color: #fff; line-height: 0; padding-bottom: 4px; z-index: 3;}
.history-head ul li{ font-size: 12px;}
.history-head ul li a{display: inline-block; width: 62px; height: 24px; margin: 0 5px; line-height: 24px; white-space: nowrap; text-overflow:ellipsis; overflow: hidden; text-align: center; border-bottom:1px dashed #fff; color:#29b4bd;}
.history-head ul li a:hover{ color: #29b4bd; border-bottom:1px dotted #29b4bd; }
.qr-code{ width: 100px; float: right; text-align: center; line-height: 0;}
.qr-code p{ font-size: 13px; line-height: 14px; color: #29b4bd;}




/* navigation
-------------------------------------------------------------------------------- */
.nav-box{ height: 40px; background-color: #29b4bd; margin-bottom: 14px; position: relative; z-index: 2;}
.nav-list{ width: 850px; float: left;}
.nav-right{ float: right;}
.navigation ul li{ float: left; margin: 0 10px; position: relative;}
.navigation ul .li-home{ margin-left:0;}
.navigation .user-entrance{ float: right; font-size: 0;}
.navigation .user-entrance a,
.navigation .user-entrance .line{font-size: 14px; color: white; line-height: 40px; }
.navigation .user-entrance .line{ padding: 0 6px;}
.navigation .user-entrance .merchants{ margin: 0 6px 0 40px;}
.navigation ul li a{display: inline-block; color: white; line-height: 35px; height: 35px; margin-top: 5px; font-size: 14px; padding: 0 15px;}
.navigation ul .line-y span{display: inline-block; color: white; line-height: 35px; height: 35px; margin-top: 5px; font-size: 14px;}
.navigation ul li a:hover{ color: #fff;}
.navigation ul .nav-active a{ color: #29b4bd; background-color: white;}
.navigation ul .nav-active a:hover{color: #29b4bd;}
.navigation ul li a span{display: inline-block; cursor: pointer;}

.user-entrance .nav-down li{ margin: 0; position: relative;}
.user-entrance .nav-down li a{ padding: 0; margin: 0;}
.user-entrance .nav-down li .menu-down{ background: url("../images/down_white.png") right center no-repeat; padding-right: 12px; display: inline-block; height: 40px; line-height: 40px;}
.user-entrance .down-two{ position: absolute;left: 0; top: 40px; background-color: #29b4bd; text-align: center; padding:0 6px 6px; overflow-y:hidden; width: 130px; display: none;}
.user-entrance .down-two li{float: initial; border-top: 1px solid #92d9dd; height: 40px; text-align: left; width: 100%;}
.user-entrance .down-two li a{color: white; white-space: nowrap; padding: 0 5px; display: block; height: 40px;}
.user-entrance .down-two li a:hover{ color: #29b4bd; background-color: white;}
/* banner
-------------------------------------------------------------------------------- */
.banner-box{ width: 1200px; margin: 30px auto 10px; *margin-top: 20px;}
.left-banner{ float: left; width: 850px;}

.banner { position: relative; overflow: auto; text-align: center;}
.banner li { list-style: none; }
.banner ul li { float: left; }
#b03 { width: 850px;}
#b03 ul li img{ width: 850px; height: 440px;}

#b03 .dots { position: absolute; left: 0; right: 0; bottom: 20px; line-height: 0; *padding-left: 45%;}
#b03 .dots li { display: inline-block; *float: left; width: 6px; height: 6px; margin: 0 4px; text-indent: -999em; border: 1px solid #fff; border-radius: 6px; cursor: pointer; opacity: 1; -webkit-transition: background .5s, opacity .5s; -moz-transition: background .5s, opacity .5s; transition: background .5s, opacity .5s;}
#b03 .dots li.active {background: #fff;opacity: 1;border: 2px solid #fff; }

/* right-info
-------------------------------------------------------------------------------- */
.right-info{ float: right; width: 320px; height: 424px; padding: 8px; background: url("../images/bg.jpg") left top no-repeat;}
.counselor{ position: relative; padding: 0 26px; margin: 10px 0 6px;}
.counselor a:hover{ color: #29b4bd;}
.counselor-img{ position: relative;}
.counselor-img img{ width: 50px; height: 50px; position: absolute; left: 0; top: 0;}
.counselor-name{ line-height: 50px; height: 50px; width: 140px; font-size: 16px; margin: 0 0 0 66px; display: inline-block; white-space: nowrap; text-overflow:ellipsis; overflow: hidden; float: left;}
.counselor-change{ color: #999; font-size: 12px; line-height: 50px;  display: inline-block; width: 52px; text-align: right; float: right;}
.counselor-introduction{padding: 0 26px; margin: 0 0 24px; font-size: 12px; color: #999; line-height: 20px; height: 40px; overflow: hidden;}
.consult{ padding: 0 26px;}
.consult h3{ font-size: 14px; margin-bottom: 10px; font-weight: normal;}
.consult h4{ font-size: 12px; color: #999; margin-bottom: 24px; font-weight: normal;}
.input-box{ margin-bottom: 6px;}
.input-box input{ float: left; font-size: 13px;}
.your-tel{ width: 150px; padding: 0 4px; height: 34px; line-height: 34px; border:1px solid #e6e6e6; color: #999;}
.consult-btn{ cursor: pointer; width: 104px; height: 36px; border:1px solid #fe9f1b; *border: 0; background-color: #fe9f1b; color: white; text-align: center; padding: 0;}
.consult-online{ height: 14px; background: url("../images/hua.png") left top no-repeat; text-align: center; margin-bottom: 20px; font-weight: normal;}
.kefu{ padding-left: 64px; margin-bottom: 20px;}
.kefu span{ display: block; float: left; width: 38px; line-height: 1px; margin: 0 5px; text-align: center;}
.kefu span a{ color: #272636; font-size: 12px; text-align: center; line-height: 22px;}
.kefu span .qq-icon{ margin-left: 2px; line-height: 1px; display: block; width: 34px; height: 34px; background: url("../images/kefu_15.png") left top no-repeat;}
.kefu span .weixin-icon{ margin-left: 2px; line-height: 1px; display: block; width: 34px; height: 34px; background: url("../images/kefu_15.png") -49px top no-repeat;}
.kefu span a:hover{ color: #29b4bd; font-size: 12px; line-height: 22px;}
.consult-tel{ text-align: center;}


/* main-content
-------------------------------------------------------------------------------- */
.step{ margin-bottom: 50px;}
.step-left{ float: left; width: 848px; border:1px solid #e6e6e6;}
.step-right{ float: right; width: 334px; border:1px solid #e6e6e6;}

.step-text1,
.step-text2,
.step-text3{ float: left; padding: 56px 0 50px 15px;}

.step-text1,
.step-text2{ background: url("../images/fang.jpg") right center no-repeat;}

.step-text1{width: 257px;}
.step-text2{width: 281px;}
.step-text3{ width: 265px;}

.step-text1 img,
.step-text1 p,
.step-text2 img,
.step-text2 p,
.step-text3 img,
.step-text3 p{ float: left;}

.step-text1 p{width: 145px;}
.step-text2 p{width: 160px;}
.step-text3 p{ width: 160px;}
.step-text1 p,
.step-text2 p,
.step-text3 p{ margin-left: 16px; font-size: 12px; color: #666; line-height: 22px;}

.step-right{ padding-bottom: 10px;}
.step-right h2{ margin-bottom: 6px; padding: 0 20px; background-color: #29b4bd; color: white; line-height: 40px; height: 40px; text-align: left; font-weight: normal;}
.step-right h2 a{ color: white;}
.step-right ul{ margin: 0 20px;}
.step-right ul li{ line-height: 1px;}
.step-right ul li a{font-size: 13px; color: #333; line-height: 28px; display: inline-block; width: 294px; height: 28px; white-space: nowrap; text-overflow:ellipsis; overflow: hidden;}
.step-right ul li a:hover{ color: #29b4bd;}



/* wedding-case
-------------------------------------------------------------------------------- */
.wedding-case{ margin-bottom: 45px;}
.flowers-title{ height: 23px; position: relative; margin-bottom: 40px;}
.title-line{ height: 2px; width: 100%; background-color: #f1f1f1; text-indent: -9999px; position: absolute; top: 50%; margin-top: -1px; z-index: 1; font-size: 0;}
.flowers-title h2{ position: relative;z-index: 2; text-align: center;}
.uniform2 li{ float: left; width: 600px; position: relative; padding-bottom: 20px;}
.uniform2 li .label-module{position: absolute; right: 18px; top: 0; width: 120px; padding: 0 15px; height: 328px; border: 1px solid #dadada;background:rgba(255, 255, 255, 0.86) none repeat scroll 0 0 !important; background:#fff;}
.main-img img{ width: 600px; height: 358px;}
.label-module .counselor-img img{ border-radius: 50%;}
.label-module .counselor-img { width: 50px; height: 50px; margin: 12px auto 8px;}
.label-module h2{ text-align: center; font-size: 14px; font-weight: normal; margin-bottom: 10px;}
.uniform2 .label-module h2{height: 14px; overflow: hidden;}
.label-module h2 a{ color: #333;}
.label-module h2 a:hover{ color: #29b4bd;}
.caozuo{ text-align: center; font-size: 12px; margin-bottom: 14px;}
.caozuo .heart{ color: #fc4a00;}
.caozuo .heart i{ margin-right: 4px;}
.shop{ margin-left: 18px;}
.label-module h3{ font-size: 12px; font-weight: normal; text-align: center; color: #29b4bd; margin-bottom: 20px;}
.uniform2 .label-module h3{height: 12px; overflow: hidden;}
.label-module .team-members{ text-align: center; font-size: 12px; margin-bottom: 30px; text-align: left;}
.label-module .team-members p{ line-height: 20px; height: 20px; white-space: nowrap; text-overflow:ellipsis; overflow: hidden; padding: 0 12px;}
.platform-price{ text-align: center; margin-bottom: 10px; *margin-bottom: 6px; line-height: 1px;}
.platform-price span{ display: inline-block; color: white; background-color: #000; font-size: 13px; line-height: 13px; font-family: SimHei; padding: 8px 10px; *white-space: nowrap;}
.platform-price .price-span{ display: inline-block; color: white; background-color: #000; font-size: 18px; font-family: SimHei; line-height: 22px; font-family: SimHei; padding: 0 10px;}
.address{ text-align: center; font-size: 12px;}
.uniform2 .address{height: 13px; overflow: hidden;white-space: nowrap; text-overflow:ellipsis;}
.address i{ color: #5da8a1; margin-right: 6px;}
.more-link{ text-align: center;}
.more-link a{ display: inline-block; color: white; background-color: #29b4bd; font-size: 16px; padding: 12px 90px; *padding: 10px 90px;}
.more-link a i{ margin-left: 50px; font-size: 18px;}



/* wedding-planner
-------------------------------------------------------------------------------- */
.wedding-planer .flowers-title{ margin-bottom: 45px;}
.theme-nav{ padding: 0 176px 68px;}
.theme-nav dl{ width: 212px; float: left; text-align: center;}
.theme-nav dt a{display: inline-block; *display: block; width: 70px; height: 70px; line-height: 0; background: url("../images/theme.png") left top no-repeat;}
.theme-nav dl dd a{ color: #333; font-size: 16px;}

.theme1 dt a{ background-position: left 0; text-indent: -9999px;}
.theme1 dt a:hover{ background-position: left -119px;}
.theme2 dt a{ background-position: -195px 0; text-indent: -9999px;}
.theme2 dt a:hover{ background-position: -195px -119px;}
.theme3 dt a{ background-position: -390px 0; text-indent: -9999px;}
.theme3 dt a:hover{ background-position: -390px -119px;}
.theme4 dt a{ background-position: -585px 0; text-indent: -9999px;}
.theme4 dt a:hover{ background-position: -585px -119px;}
.theme5 dt a{ background-position: -780px 0; text-indent: -9999px;}
.theme5 dt a:hover{ background-position: -780px -119px;}


.col-4{ float: left; width: 285px;}
.col-4-mar{ margin-right: 20px; _margin-right: 16px; float: left; width: 285px;}
.theme-members{border: 1px solid #ebebeb; position: relative; padding-top: 72px;}
.theme-members .counselor-img{ float: left;}
.theme-members .counselor-img,
.theme-members .counselor-img img{ width: 70px; height: 70px;}
.theme-members-head{ width: 239px; padding: 0 20px 0 24px; position: absolute; top: -28px;}
.counselor-right{ width: 159px; float: right; font-size: 14px; line-height: 20px; padding-top: 30px;}
.counselor-right .heart{ font-size: 12px; color: #fc4a00; margin-left: 20px;}
.counselor-right .heart i{ margin-right: 4px;}
.counselor-right .shop{ margin-left: 15px;}
.counselor-right span{ font-size: 13px;}
.counselor-right em{ font-size: 12px; font-style: normal; color: #999; text-decoration: line-through; margin-left: 6px;}
.counselor-info{ font-size: 12px; line-height: 20px; margin: 0 10px 40px; text-align: justify; height: 60px; overflow: hidden;}
.counselor-case-img a{display: block; float: left; width: 137px; height: 64px; margin:0 3px 3px 0;}
.counselor-case-img{ padding-left: 3px; line-height: 0; font-size: 0;}
.counselor-case-img img{ width: 137px; height: 64px;}
.wedding-planer .uniform4{ margin-bottom: 40px;}
.wedding-planer .more-link{ margin-bottom: 60px;}

/* wedding-photography
-------------------------------------------------------------------------------- */
.wedding-photography .flowers-title{ margin-bottom: 40px;}
.photography-title{ margin: 10px 0 10px;_margin: 6px 0 0; *margin: 6px 0 5px; }
.photography-title h2{ font-size: 16px; font-weight: normal; float: left; width: 210px; padding-left: 5px;}
.photography-title h2 a{display: block; width: 210px; height: 16px; overflow: hidden; text-overflow:ellipsis; white-space: nowrap;}
.photography-caozuo{ float: right;width: 55px; display: block;}
.photography-caozuo .heart{ color: #666; font-size: 14px;}
.photography-caozuo .heart:active,
.photography-caozuo .heart:hover{ color: #fc4a00;}
.photography-caozuo .shop{ margin-left: 10px;}
.photography-price{ font-size: 13px; padding-left: 5px;}
.photography-price em{ font-size: 12px; text-decoration: line-through; font-style: normal; color: #999; margin-left: 6px;}
.wedding-photography .uniform4{ margin-bottom: 40px;}
.wedding-photography .more-link{ margin-bottom: 60px;}


/* wedding-banquet
-------------------------------------------------------------------------------- */
.col-3{float: left; width: 386px;}
.col-3-mar{ margin-right: 21px; _margin-right: 16px; margin-bottom: 20px;}
.col-3-1{ margin-left: 0;}
.photography-price .heart{ font-size: 16px;}
.wedding-banquet .uniform3{ margin-bottom: 40px;}
.wedding-banquet .flowers-title{ margin-bottom: 30px;}
.wedding-banquet .more-link{ margin-bottom: 60px;}
.wedding-banquet .photography-title h2{ width: 300px;}
.wedding-banquet .photography-title h2 a{ width: 300px;}
.wedding-banquet .photography-caozuo{ width: 60px;}
.uniform3 .photography-caozuo .heart i{ font-size: 16px;}


/* wedding-banquet
-------------------------------------------------------------------------------- */
.uniform3-border{ border: 1px solid #dfdfdf; padding-bottom: 10px;}
.uniform3 img{width: 100%;}
.uniform3 .shop img{width: auto;}
.photography-title h2 em{ font-style: normal; font-size: 12px; color: #666;}
.banquet-price{font-size: 12px; color: #666;}
.banquet-price em{ font-style: normal; margin: 0 4px; text-decoration: none;}
.photography-price .address{ text-decoration: none; background: url("../images/address.png") left center no-repeat; padding-left: 16px; margin-left: 40px; line-height: 14px;}
.uniform3-border .photography-title h2 { padding-left: 10px;}
.uniform3-border .photography-title h2 a{display: inline; width: auto; height:auto; overflow: auto; text-overflow:normal; white-space: normal;}
.uniform3-border .photography-price { padding-left: 10px;}
.uniform3-border .photography-caozuo{ width: 60px;}

.conditions-module{ padding: 20px 0 16px;}
.conditions-module dl {margin-bottom: 12px;}
.conditions-module dl dt,
.conditions-module dl dd{ float: left; display: inline-block;}

.conditions-module dl dt{ width: 66px; text-align: right; font-size: 16px; height: 22px; line-height: 22px; margin-right: 10px;}
.conditions-module dl dd { width: 1124px; float: right;}
.conditions-module dl dd a{ display: inline-block; font-size: 14px; color: #999; padding: 0 16px; margin: 0 7px;height: 22px; line-height: 22px; margin-bottom: 10px;}
.conditions-module dl dd a:hover{ color: #fff; background-color: #29b4bd;}
.conditions-module dl dd .select-current{ display: inline-block; color: #fff; background-color: #29b4bd;}

.pagination-box{ text-align: center; padding: 60px 0 30px; font-size: 0;}
.pagination{ font-size: 0; _height:38px;}
.pagination a{ border: 1px solid #f4f4f4;}
.pagination a,
.pagination span{ vertical-align: middle; color: #333; font-size: 12px; display: inline-block; height: 34px; line-height: 34px; padding: 0 13px;}
.pagination span{ color: #999;}
.pagination .prev{margin-right: 4px;}
.pagination .next{ margin-left: 4px;}
.pagination .prev,
.pagination .next{ font-size: 12px; _padding-top: 10px; _height: 24px;}
.pagination a,
.pagination a i{font-size: 14px;}
.pagination a:hover{color: #fff; background-color: #fe9f1b;}
.pagination .disabled{ color: #999; cursor: not-allowed;}
.pagination .current{color: #fff; background-color: #fe9f1b;}
.pagination span input{ width: 45px; height: 18px; text-align: center;border: 1px solid #f4f4f4;}



/* hunsha-sheying
-------------------------------------------------------------------------------- */
.zhutu{ display: block; width: 307px; height: 226px; float: left;}
.zhutu img{ width: 100%; height: 100%;}
.right-img-box{ width: 75px; float: right;}
.right-img-box a{ display: block; width: 75px; height: 55px; margin-bottom: 2px;_margin-bottom: 1px; line-height: 0; font-size: 0;}
.right-img-box a img{width: 100%; height: 100%;}

/* hunli-taoxi
-------------------------------------------------------------------------------- */
.img3{ margin-bottom: 10px;}
.img3 .zhutu3{ display: block; width: 384px; height: 216px; margin-bottom: 4px;}
.img3 .zhutu3 img{ width: 100%; height: 100%;}
.img3 .right-img-box3{ width:100%;}
.img3 .right-img-box3 a{ display: block; width: 190px; height: 106px; float: left;}
.img3 .right-img-box3 .img-first{ margin-right: 4px;}
.img3 .right-img-box3 a img{width: 100%; height: 100%;}
.module-left{ float: left; width: 100px; margin-left: 10px; _margin-left: 5px;}
.module-right{ float: right; width: 244px; margin-right: 10px; _margin-right: 5px;}
.module-left .counselor-img{ width: 50px; height: 50px; margin: 0 0 10px 25px;}
.module-left h4{ font-size: 13px; text-align: center; margin-bottom: 10px; font-weight: normal;}
.module-left h4 a{ display: block; width: 100%; height: 14px; overflow: hidden;text-overflow:ellipsis; white-space: nowrap;}
.module-left .price span{ font-size: 18px; color: white; background-color: #000; padding:0 10px; line-height: 24px;}
.module-right h2{ font-size: 16px; margin-bottom: 12px; font-weight: normal;}
.module-right h2 a{ display: block; width: 100%; height: 16px; overflow: hidden;text-overflow:ellipsis; white-space: nowrap;}
.module-right p{ font-size: 12px; line-height: 16px; height: 65px; overflow: hidden; margin-bottom: 20px; color: #666;}
.module-right .address{ text-align: left;}
.module-right .address em{ padding-left: 15px; line-height: 14px; font-style: normal; background: url("../images/address.png") left center no-repeat; color: #999;}



.hunliren-list .col-3-mar{ margin-right: 21px; _margin-right: 21px; margin-bottom: 20px;}
.hunliren-list .col-3 { margin-bottom: 30px;}
.nav-select-container{ height: 34px; border-bottom: 2px solid #f4f4f4;}
.div-content{ display: none; width: 1200px; margin: 0 auto;}
.li-active a{ border-bottom: 2px solid #29b4bd;}
.tab-active{ display: block;}
.nav-select-list{ width: 1200px; margin: 0 auto; position: relative; bottom: -2px; z-index: 2;}
.nav-select-list li{ float: left;}
.nav-select-list li a{ display: block; float: left; padding: 0 45px 14px; font-size: 18px; _line-height: 22px;}
.nav-select-list li a:hover{ color: #29b4bd; border-bottom: 2px solid #29b4bd;}

.uniform3-bg{ background-color: #f8f8f8; padding-bottom: 10px;}
.hunliren-list .uniform3-bg{border-bottom: 2px solid #a7dfe2;}
.hunliren-info-box{ padding-top: 10px;}
.hunliren-introduce{ float: left;margin-left: 10px;_margin-left: 5px; width: 145px; padding-top: 6px; text-align: center;}
.hunliren-introduce .counselor-img{ margin: 0 auto 6px;}
.hunliren-introduce .counselor-img,
.hunliren-introduce .counselor-img img{width: 100px; height: 100px;}
.hunliren-zuopin{ float: right;margin-right: 10px;_margin-right: 5px; width: 200px;}
.hunliren-introduce-list .hunliren-focus { text-align: right;}
.hunliren-focus span{ color: #999; font-size: 12px; line-height: 30px; padding-right: 10px;}
.hunliren-focus .fa{margin-right: 4px;}
.hunliren-focus .fa-heart-o{ color: #fc4a00;}


.mark-box{ font-size: 12px; margin-bottom: 10px;}
.mark-box span{ display: inline-block; padding: 2px;}
.mark-box .personal-mark{border:1px solid #29b4bd; border-radius: 8px;padding: 2px 8px; margin-right: 20px;}
.hunliren-introduce h4{ margin-bottom: 8px;}
.line-grey{ font-size: 0; line-height: 0; height: 1px; width: 100%; border-bottom: 1px solid #eeeeee; margin-bottom: 10px;}
.line-grey-short{ width: 114px; margin: 0 auto 2px;}
.introduce-text{ font-size: 12px; line-height: 18px; text-align: justify; height: 108px; overflow: hidden; margin-bottom: 10px; color: #666;}
.hunliren-introduce-list .introduce-text{height: 110px; line-height: 22px; color: #999;}
.personal-achievement{ padding-left: 15px;}
.personal-achievement span{display: block; width: 57px; float: left; line-height: 20px; font-size: 12px;}
.personal-achievement em{ font-style: normal;font-size: 12px; color: #fc4a00;}

.magnum-opus1{ margin-bottom: 22px;}
.magnum-opus{ line-height: 0;}
.hunliren-introduce-list .magnum-opus{ border: 1px solid #dedede; background-color: white;}
.magnum-opus .zuopin-img{ display: block;}
.magnum-opus .zuopin-img img{ width: 100%; height: 128px;}
.hunliren-introduce-list .hunliren-zuopin img{ height: 150px;}
.magnum-opus h3{font-size: 0; line-height: 20px; font-size: 14px; font-weight: normal; margin-bottom: 4px;}
.magnum-opus h3 a{ width: 120px; float: left;}
.magnum-opus h3 span{ width: 70px; float: right; text-align: right;}

.magnum-opus h3 a,
.magnum-opus h3 span{ display: block; height: 20px; overflow: hidden; white-space: nowrap; overflow: hidden; text-overflow:ellipsis;}
.address-p{font-size: 0; line-height: 20px; font-size: 12px; font-weight: normal;}
.address-p a{ width: 70px; float: right; text-align: right;}
.address-p span{ width: 105px; float: left; background: url("../images/address.png") left center no-repeat; padding-left: 15px; color: #999;}

.address-p a,
.address-p span{ display: block; height: 20px; overflow: hidden; white-space: nowrap; overflow: hidden; text-overflow:ellipsis;}

.paixu{ position: relative; background-color: #f7f7f7; border: 1px solid #dfdfdf; margin-bottom: 10px;}
.paixu ul{ line-height: 0; font-size: 0;}
.paixu ul li{ float: left; font-size: 12px; vertical-align: middle; position: relative;}
.paixu ul li a{ color: #999; line-height: 38px; padding: 0 18px; display: inline-block;}
.paixu ul li .arrow-down span{ padding-right: 12px; background: url("../images/arrow-down.png") right center no-repeat;}
.paixu ul .zonghe{ background-color: white; border-right: 1px solid #dfdfdf;}
.paixu ul .zonghe a{ font-size: 14px;}
.paixu ul li a:hover{ background-color: white;}
.paixu ul li p{ margin-top: 8px; padding: 0 18px; _width: 200px;}
.paixu ul li p span{ line-height: 20px; margin: 0 6px;}
.paixu ul li p input,
.paixu ul li p span,
.paixu ul li p a{ float: left;}
.paixu ul li p input{ padding: 0 4px; width: 46px; height: 20px; line-height: 20px; text-align: left; border: 1px solid #dfdfdf; font-size: 12px; color: #666;}
.paixu ul li p a{ height: 20px; line-height: 20px; border: 1px solid #fe9f1b; color: white; background-color: #fe9f1b; padding: 0 10px; display: inline-block; margin-left: 6px;}
.paixu ul li p a:hover{ border: 1px solid #fe9f1b; color: white; background-color: #fe9f1b;}
.paixu ul .page-li{ float: right; font-size: 0; position: absolute; right: 22px; top: 0; z-index: 4;}
.page-li span{  font-size: 12px;}
.page-li span em{ color: #fc4a00; font-style: normal;}
.paixu ul .page-li a{ padding: 0 8px; font-size: 12px;}
.paixu ul .page-li .disabled{ color: #ccc; cursor: not-allowed;}
.paixu ul .page-li a:hover{background-color: #f7f7f7;}

.select-down{ display: none; position: absolute; left: 0; top: 38px; z-index: 4; width: 138px; border: 1px solid #dfdfdf; border-top:none; background-color: #fff;}
.paixu .select-down li{ float: none;}
.paixu .select-down li a{ display: block;}
.paixu .select-down li a:hover{ color: #29b4bd;}


/* hunlitaoxi-neiye
-------------------------------------------------------------------------------- */
.banner2{ width: 1198px; border: 1px solid #dfdfdf; margin: 0 auto 30px; font-size: 0; line-height: 0;}
.banner2-left{ float: left; width: 288px;}
.banner2-right{ float: right; width: 900px;}


.banner-btn { position: relative; overflow: auto; text-align: center;}
.banner-btn li { list-style: none; }
.banner-btn ul li { float: left; }
.banner-btn ul li img{ width: 900px; height: 480px;}
#b04 { width: 900px;}
#b04 .dots { position: absolute; left: 0; right: 0; bottom: 20px;}
#b04 .dots li { display: inline-block; width: 10px; height: 10px; margin: 0 4px; text-indent: -999em; border: 2px solid #fff; border-radius: 6px; cursor: pointer; opacity: .4; -webkit-transition: background .5s, opacity .5s; -moz-transition: background .5s, opacity .5s; transition: background .5s, opacity .5s;}
#b04 .dots li.active {background: #fff;opacity: 1;}
#b04 .arrow { position: absolute; top: 200px;}
#b04 #al { left: 30px;}
#b04 #ar { right: 30px;}
#b04 .dots li img{ width: 900px; height: 480px;}


.banner2-left-inner{ padding: 20px 10px 0 20px; height: 460px;}
.banner2-left-inner h2{ font-size: 16px; font-weight: normal; color: #29b4bd; line-height: 18px; margin-bottom: 14px;}
.banner2-left-inner h2 a:hover{ color: #333;}

.area-block { margin-bottom: 12px;}
.area-block p{ font-size: 12px; line-height: 20px; height: 20px; overflow: hidden;}
.yuyue-form{ padding-top: 12px;}
.yuyue-form input{ width: 232px; height: 36px; line-height: 36px; margin-bottom: 10px; padding: 0 4px; border: 1px solid #dfdfdf; color: #999;}
.yuyue-form h2{ margin-bottom: 20px;}
.yuyue-btn{ font-size: 14px; display: block; width: 242px; height: 38px; line-height: 38px; color: white; text-align: center; background-color: #fe9f1b;}
.yuyue-btn:hover{ color: white;}

.theme-module h2{ border-bottom: 2px solid #29b4bd; margin-bottom: 20px;}
.theme-module h2 .title-main{display: inline-block; color: white; height: 34px; line-height: 34px; padding: 0 25px; background-color: #29b4bd;}

.content-inner-bd{ border: 1px solid #dfdfdf; margin-bottom: 30px;}
.content-xianchang{ margin-bottom: 30px;}
.fanan-info{ float: left; width:210px; padding: 10px 0 10px 10px; text-align: center;}
.fanan-info-inner{ padding: 16px 10px 0 0; border-right: 1px solid #dfdfdf;}
.fangan-gaiyao{ float: right; width: 978px; line-height: 0; font-size: 0;}
.fanan-info .counselor-img{ margin: 0 auto 10px;}
.fanan-info .counselor-img,
.fanan-info .counselor-img img{ width: 100px; height: 100px;}
.fanan-info h4{ margin-bottom: 6px; font-weight: normal; font-size: 13px;}
.fanan-info .caozuo{margin-bottom: 70px;}
.fangan-jianjie{ font-size: 12px; color: #666; line-height: 18px; text-align: justify; margin-bottom: 40px; padding: 0 10px; height: 90px; overflow: hidden;}
.fanan-info h5{ text-align: left; margin-bottom: 15px; font-weight: normal;padding: 0 10px;}
.btn-warning-block{ display: block; text-align: center; line-height: 34px; height: 34px; font-size: 14px; color: white; background-color: #fe9f1b;}
.btn-block{ padding-bottom: 34px;}
.btn-warning-block:hover{ color: white;}

.gaiyao-left{ width: 350px; float: left;}
.gaiyao-right{ width: 608px; float: right;}
.gaiyao-left-txt{ padding: 25px 0 30px; border-bottom: 1px solid #dfdfdf;}
.gaiyao-left-txt h4{ padding-left: 20px; font-size: 14px; line-height: 18px; margin-bottom: 15px;}
.gaiyao-left-txt .yinhao{margin-left: 20px;}
.yinhao{ padding: 0 0 0 20px; background: url("../images/yinhao.jpg") left top no-repeat;}
.yinhao1{ margin-bottom: 40px;}
.yinhao p{ font-size: 12px; line-height: 18px; background: url("../images/yinhao.jpg") right bottom no-repeat; padding-right: 20px; height: 36px; overflow: hidden;}

.huafei{ float: left; width: 110px; text-align: center;}
.huafei-list{ float: right; width: 220px; padding-top: 30px;}
.huafei dl{ margin-top: 60px;}
.huafei dt{ font-size: 14px; line-height: 38px;}
.huafei dd span{ font-size: 18px; line-height: 22px; display: inline-block; background-color: black; color: white; padding: 0 10px;}



/* tupian yulan
-------------------------------------------------------------------------------- */
#zoom {z-index: 99990;position: fixed;top: 0;left: 0;display: none;width: 100%;height: 100%;background: rgba(0, 0, 0, 0.8);filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";}
#zoom .content {z-index: 99991;position: absolute;top: 50%;left: 50%;width: 200px;height: 200px;background: #ffffff no-repeat 50% 50%;padding: 0;margin: -100px 0 0 -100px;box-shadow: -20px 20px 20px rgba(0, 0, 0, 0.3);border-radius: 4px;}
#zoom .content.loading {background-image: url('../images/loading2.gif');}
#zoom img {display: block;max-width: none;background: #ececec;box-shadow: 0 1px 3px rgba(0,0,0,0.25);border-radius: 4px;}
#zoom .close {z-index: 99993;position: absolute;top: 0;right: 0;width: 49px;height: 49px;cursor: pointer;background: transparent url('../images/close2.png') no-repeat 50% 50%;opacity: 1;filter: alpha(opacity=100);border-radius: 0 0 0 4px;}

#zoom .previous,
#zoom .next {z-index: 99992;position: absolute;top: 50%;overflow: hidden;display: block;width: 49px;height: 49px;margin-top: -25px;}

#zoom .previous {left: 0;background: url('../images/arrows.png') no-repeat 0 0;border-radius: 0 4px 4px 0;}
#zoom .next {right: 0;background: url('../images/arrows.png') no-repeat 100% 0;border-radius: 4px 0 0 4px;}
#zoom .close:hover {background-color: #da4f49;}

#zoom .previous:hover,
#zoom .next:hover {background-color: #0088cc;}

.zoomed > .container{-webkit-filter:blur(3px);filter:blur(3px);}
.container{width:505px;margin:0 auto;}
.gallery{padding: 1px 0 0 1px;}
.gallery li{float:left;padding:0 1px 1px 0; width: 298px; background-color: #dfdfdf;}
.gallery li a,.gallery li img{float:left; display: block; width: 298px; height: 220px;}
.gallery li a{ position: relative;}
.gallery li a span{ cursor: pointer; position: absolute; left: 0; top: 0; width: 298px; height: 220px; display: none; background: url("../images/fd298.png") center center no-repeat;}
.gallery li a .mark-span{display: block;}

.step-module{ background-color: #fafafa; padding: 40px 0; margin-bottom: 30px;}
.step-content{ float: left; width: 290px;}
.step-content1{ width: 330px;}
.step-content dt,
.step-content dd{ float: left;}
.step-content dt{ width: 92px; text-align: center;}
.step-content dd{ width: 198px;}
.step-content1 dd{ width: 238px;}
.step-content dd h3{ font-weight: normal; font-size: 18px; line-height: 38px;}
.step-content dd p{font-size: 12px; line-height: 24px; color: #666;}

.invitation-person{ float: left; width: 880px;}
.invitation-form{ float: right; width: 300px;}
.invitation-person-img{ float: left; width: 110px;}

.invitation-person-img{ text-align: center;}
.invitation-person-img .counselor-img{ margin: 0 auto 16px;}
.invitation-person-img .counselor-img,
.invitation-person-img .counselor-img img{ width: 70px; height: 70px;}
.caozuo .zuopin { font-size: 12px; color: #333; margin-left: 10px;}
.caozuo .zuopin em{ font-style: normal; color: #fc4a00;}

.invitation-person-jianjie{ float: right; width: 750px;}
.invitation-person-jianjie h3{ font-weight: normal; font-size: 14px; margin: 5px 0 25px;}
.invitation-person-jianjie h3 a{ color: #333;}
.invitation-person-jianjie h3 em{font-size: 12px; font-style: normal; color: #666;}
.invitation-person-jianjie h4{ font-size: 14px; font-weight: bold; margin-bottom: 10px;}
.invitation-person-jianjie p{ font-size: 12px; line-height: 18px;}

.person-pinglun{ text-align: center; font-size: 12px;}
.invitation-pinglun{ float: left; width:1200px;}
.invitation-person-pinglun{float: right; width: 1070px;}
.invitation-person-pinglun .pinglun{background-color: #f7f6f3; padding:20px; font-size: 16px; line-height: 24px; color: #666; min-height: 60px !important; height: 60px;}

.invitation-form input{ width: 290px; padding: 0 4px; border:1px solid #e6e6e6; color: #999; height: 36px; line-height: 36px; margin-bottom: 10px;}
.invitation-form .yuyue-btn{ width: 100%;}
.txt-block{ margin-bottom: 15px; padding-top: 10px;}


/* hunliren-geren
-------------------------------------------------------------------------------- */
.banner-box-geren{ margin-bottom: 30px;}
.left-hunliren{ float: left; width: 850px; background-color: white;}
.left-hunliren-inner .left-bar,
.left-hunliren-inner .middle-bar,
.left-hunliren-inner .right-bar{ float: left; background-color: #f7f6f3; font-size: 14px; height: 440px;}

.left-hunliren-inner .left-bar{ width: 200px; text-align: center;}
.left-hunliren-inner .middle-bar{ width: 402px; margin: 0 1px; padding: 0 20px;}
.left-hunliren-inner .right-bar{ width: 205px;}
.left-hunliren-inner .left-bar .counselor-img{ margin: 30px auto 10px;}

.left-hunliren-inner .left-bar .counselor-img,
.left-hunliren-inner .left-bar .counselor-img img{ width: 150px; height: 150px;}

.left-hunliren-inner .left-bar h4{ font-weight: normal; font-size: 18px; margin-bottom: 10px; line-height: 20px;}
.left-hunliren-inner .left-bar h5{ font-weight: normal; font-size: 14px; margin-bottom: 12px;}
.left-hunliren-inner .left-bar .mark-box { margin: 0 0 25px;}
.left-hunliren-inner .left-bar .mark-box .personal-mark{ margin: 0; padding: 2px 8px; color: #333; display: inline-block;}
.left-hunliren-inner .left-bar .personal-achievement{padding-left: 43px; margin-bottom: 30px;}
.left-hunliren-inner .left-bar .personal-achievement span{ font-size: 14px;}
.star{ height: 15px; line-height: 15px; font-size: 0; background: url("../images/star.png") center top no-repeat; margin-bottom: 65px;}
.star1{ background-position: center top;}
.star2{ background-position: center -35px;}
.star3{ background-position: center -70px;}
.star4{ background-position: center -105px;}
.star5{ background-position: center -140px;}

.keywords{ height: 298px; border-bottom: 2px solid white;}
.middle-text{ font-size: 12px; line-height: 22px; color: #666; text-align: justify; padding: 16px 0 0; height: 106px; overflow: hidden;}

.right-bar h2{ margin: 25px 0 40px; font-size: 14px; font-weight: bold; color: #fe9f1b; text-align: center;}
.right-bar dl{ margin-bottom: 52px;}
.right-bar dl dt{ margin: 0 26px; padding: 0 0 0 26px ; background: url("../images/blue-heart.png") left center no-repeat; font-size: 14px; color: #29b4bd; border-bottom: 2px solid #29b4bd; line-height: 34px;}
.right-bar dl dd{ font-size: 12px; color: #666; line-height: 26px;text-align: center;}

.service-details{ margin-bottom: 60px;}
.service-details h2{ font-size: 16px; border-bottom: none; margin: 30px 0;}
.service-details dl{ margin-bottom: 15px;}
.service-details dl dt{ width: 25px; height: 25px; float: left; border: 1px solid #29b4bd; border-radius: 50%; text-align: center; line-height: 25px;}
.service-details dl dd{ width: 1148px; float: right; line-height: 22px;}

.label-img-module{ margin-bottom: 14px; padding-top: 10px;}
.label-big-img{ width: 728px; float: left;}
.label-mini-img{ width: 472px; float: right;}
.label-module-img{ width: 100%;}
.label-module-img .main-img img{ width: 728px; height: 410px;}
.label-module-img li{ float: left; width: 100%; position: relative; padding-bottom: 6px; line-height: 0;}
.theme-module .label-module h2{ border: none; margin-bottom: 15px;}
.theme-module .label-module h3{ color: #333; font-size: 14px; margin-bottom: 55px;}
.theme-module .label-img-module .label-module h2,
.theme-module .label-img-module .label-module h3{ height: 14px; overflow: hidden; padding: 0 12px;}
.theme-module .label-module .case-text{ line-height: 20px; font-size: 12px; color: #666; padding: 0 12px; text-align: justify; margin-bottom: 40px;}
.theme-module .label-module{ line-height: 1; position: absolute; left: 10px; top: 0; width: 150px; height: 382px; border: 1px solid #dadada; background:rgba(255, 255, 255, 0.86) none repeat scroll 0 0 !important; background:#fff;}
.label-mini-img li{ float: left; width: 230px; height: 202px; margin: 0 0 6px 6px;_display: inline; _margin-bottom: 3px;}
.label-mini-img li img{ width: 100%; height: 100%;}

/* hunsha-sheying-neiye
-------------------------------------------------------------------------------- */
.neiye-module .photography-title{ margin: 6px 0;}
.neiye-module .uniform3-border{ padding-bottom: 0;}
.neiye-module .photography-price{ width: 300px; float: left; height: 16px; overflow: hidden; white-space: nowrap; text-overflow: ellipsis;}
.button-block a{ float: left;}
.button-block .yuyue-btn{ width: 192px;}
.button-block .che-btn{ display: block; width: 42px; height: 38px; background: #eeeeee url("../images/che.png") center center no-repeat; margin-left: 8px;}
.area-block .area-block-p{ padding-top: 5px; height: 132px; overflow: hidden; line-height: 22px;}

/* hunsha-sheying-neiye-neiye
-------------------------------------------------------------------------------- */
.area-block .price{ display: inline-block; color: white; background-color: black; font-size: 18px; padding: 0 8px; line-height: 25px; margin-bottom: 5px;}
.picture-module { overflow: hidden; line-height: 0;}
.picture-module img{ max-width: 100%; margin-bottom: 20px; border: 4px solid #f7f6f3;}


/* jiudian-hunyan-neiye
-------------------------------------------------------------------------------- */
.yuyue-form-jiudian{ padding-top: 7px;}
.yuyue-form-jiudian h2{ margin-bottom: 16px; *margin-bottom: 8px;}

.gallery2{padding: 1px 0 0 1px; background-color: #dfdfdf;}
.gallery2 li{float:left;padding:0 1px 1px 0; width: 298px;}
.gallery2 li a,
.gallery2 li img{float:left; display: block; width: 298px; height: 220px;}
.gallery2 li a{ position: relative;}
.gallery2 li a span{ text-align: center; line-height: 220px; cursor: pointer; position: absolute; left: 0; top: 0; width: 298px; height: 220px; display: none; background: url("../images/fd2982.png") center center no-repeat;}
.gallery2 li a span em{ padding: 6px 10px; font-style: normal; font-size: 13px; color: white; background-color: black;}
.gallery2 li a .mark-span{display: block;}
.next-page a{ line-height: 220px; text-align: center; color: #333;background-color: #dfdfdf;}
.next-page a i{ font-style: normal; padding-right: 34px; background: url("../images/next-page.png") right center no-repeat; font-size: 24px;}
.next-page a:hover{ color: #29b4bd;}
.next-page a:hover i{ background: url("../images/next-page-blue.png") right center no-repeat;}

/* jiudian-hunyan-neiye-neiye
-------------------------------------------------------------------------------- */
.area-block .area-block-p110{ height: 110px;}
.file-box table,
.file-box table tr th,
.file-box table tr td{ border: 1px solid #f0f0f0;}
.file-box table tr th{ font-size: 14px; color: #666; background-color: #f2f2f2; height: 36px; vertical-align: middle;}
.file-box table tr td{ height: 36px; vertical-align: middle; padding: 0 15px;}
.table-img{ width: 892px; border: 1px solid #f0f0f0; padding: 20px 0 0 6px;}
.table-img img{ width: 440px; height: 310px; float: left; margin:  10px 6px 10px 0;}
 

/* zhuchiren-geren
-------------------------------------------------------------------------------- */
.geren-module .col-3{ width: 392px;}
.geren-module .col-3-mar{ margin-right: 12px;}
.geren-module .four-img a{ display: block; width: 192px; height: 170px; float: left; margin-bottom: 8px;}
.geren-module .four-img .mar8{ margin-right: 8px;}
.geren-module .four-img a img{width: 100%; height: 100%;}

.geren-theme{ line-height: 22px; padding: 10px 0 20px;}
.geren-theme h3,
.geren-theme small{ float: left;}
.geren-theme .more-link{ float: right; font-size: 14px;}
.geren-theme h3{ border-left: 4px solid #29b4bd; font-size: 18px; color: #29b4bd; padding-left: 10px;}
.geren-theme small{ font-size: 12px; color: #999; padding-left: 50px;}
.geren-theme small span{padding-right: 14px;}
.geren-theme small span .fa{margin-right: 4px;}
.geren-theme small span .fa-heart-o{color: #fc4a00;}
.left-hunliren-inner .left-bar .mark-box{margin-bottom: 34px;}


/* zhuchiren-zuopin-xiangqing
-------------------------------------------------------------------------------- */
.area-block .area-title{color: #29b4bd; font-size: 14px; line-height: 26px;}
.area-block .area-block-p2{ font-size: 12px; line-height: 22px; height: 44px;}
.liangdian{ margin-bottom: 70px;}


/* register-login
-------------------------------------------------------------------------------- */

.header-entrance{border-bottom: 3px solid #d1d4da;}
.logo-box2{ width: auto; float: left; padding-right: 30px; margin-right: 0; border-right: 1px solid #d1d4da;}
.page-title{ float: left; display: inline-block; line-height: 53px; padding-left: 30px; font-size: 24px; color: #999;}

.main-content-entrance{ padding: 30px 0;background-color: #f0f2f5;}
.left-entrance{ float: left; width: 830px; background-color: white; min-height: 500px;_height: 500px; border-right:1px solid #f2f2f2; border-bottom: 3px solid #e3e4e8;}
.right-entrance{ float: right; width: 360px;}
.left-entrance .module-title{background-color: #f6f8fa; padding: 20px 30px;}
.left-entrance .module-title h2{ font-size: 24px; color: #29b4bd; font-weight: normal;}
.left-entrance .module-title h2 small{ font-size: 12px; color: #999; padding-left: 20px;}
.form-inner{ width: 430px; margin: 60px auto;}

.form-control dl { margin-bottom: 20px;}
.form-control dl dt,
.form-control dl dd{ float: left;}

.form-control dl dt{width: 80px; margin-right: 10px; text-align: right; height: 40px; line-height: 40px; font-size: 14px; color: #666;}
.form-control dl dd{ width: 310px;}
.form-control dl dd input{ font-size: 12px;font-family: "Microsoft YaHei";}
.form-control dl dd .form-in{ width: 300px; border: 2px solid #dfdfdf; border-radius: 6px; height: 38px; *line-height: 38px; padding: 0 4px; color: #999; font-size: 12px;font-family: "Microsoft YaHei";}
.form-control dl dd .form-in:focus{border-color: #29b4bd;}
.footer-entrance {background-color: #f0f2f5; padding-bottom: 30px;}
.footer-entrance .footer-inner{ background-color: #f6f8fa; border-bottom: 3px solid #e3e4e8;}
.footer-entrance .footer-inner .bottom-list2{padding-left: 70px;}
.footer-entrance .footer-inner .bottom-list{padding-left: 20px;}
.footer-entrance .footer-bottom{padding: 20px 0 15px;}
.footer-entrance .footer-bottom .bottom-list{width: 150px;}
.footer-entrance .footer-bottom .bottom-list img{width: 100%;}
.footer-entrance .footer-bottom .bottom-list3{float: right; width: 90px;}

.module-left-sign-in { padding: 20px 30px 40px;}
.module-left-sign-in h2 { color: #29b4bd; font-family: "Microsoft YaHei"; font-size: 23px; font-weight: normal; margin: 0;}
.module-left-sign-in h2 small { color: #99a3b1; display: block; font-family: SimSun; font-size: 12px; margin-top: 15px;}
.module-share { padding: 40px 0 120px;}
.module-share .share-btn { font-size: 12px; margin-bottom: 10px;}

.module-share .share-btn a,
.module-share .share-btn a span{transition: ease-in .2s;-moz-transition: ease-in .2s;-webkit-transition: ease-in .2s;-o-transition: ease-in .2s;} 
.module-share .share-btn a { background: none repeat scroll 0 0 #e1e4e9; border-radius: 4px; color: #8f9399; display: inline-block; font-weight: bold; height: 45px; line-height: 45px; width: 198px;}
.module-share .share-btn a span { background-color: #8f9399; background-image: url("../images/share.png"); background-repeat: no-repeat; border-radius: 4px 0 0 4px; color: transparent; display: inline-block; *display: block; *float: left; font-weight: normal; height: 45px; margin-right: 10px; width: 45px; text-indent: -9999px;}
.share-btn-weixin span { background-position: center 8px;}
.share-btn-tenxun span { background-position: center -48px;}
.share-btn-sina span {background-position: center -103px;}

.share-btn-weixin a:hover,
.share-btn-weixin a:focus,
.share-btn-weixin a:active{background-color: #10c01b; color: #FFFFFF; text-decoration: none;}

.share-btn-weixin a:hover span,
.share-btn-weixin a:focus span,
.share-btn-weixin a:active span{background-color: #04b00f;}

.share-btn-tenxun a:hover,
.share-btn-tenxun a:focus,
.share-btn-tenxun a:active{background-color: #4fc0e8; color: #FFFFFF; text-decoration: none;}

.share-btn-tenxun a:hover span,
.share-btn-tenxun a:focus span,
.share-btn-tenxun a:active span{background-color: #3aafda;}

.share-btn-sina a:hover,
.share-btn-sina a:focus,
.share-btn-sina a:active{background-color: #ee5567; color: #FFFFFF; text-decoration: none;}

.share-btn-sina a:hover span,
.share-btn-sina a:focus span,
.share-btn-sina a:active span{background-color: #db4453;}

.module-ask p { color: #99a3b1; font-family: Arial,SimSun; font-size: 12px; line-height:20px; text-indent: 0; margin-bottom: 10px;}

.module-ask .btn { background-color: #fe9f1b; border-radius: 5px; color: #ffffff; font-size: 14px; padding: 12px 48px; display: inline-block;}
.module-ask a:hover{ color: white;}
.form-control dl dd .btn-warning { width: auto; border-radius: 5px; color: #ffffff; font-size: 14px; padding: 0 48px; *padding: 0 24px; display: inline-block;background-color: #29b4bd; border:none; height: 38px; color: white; cursor: pointer;}
.form-control dl dd p{ margin-top: 5px; color: #fc4a00; font-size: 14px;}
.form-control dl dd .agreement-p{ margin-top: 40px; display: block;}
.form-control dl dd .agreement{ font-size: 12px;}
.form-control dl dd .checkbox-keep { font-size: 12px; color: #999; position: relative;}
.form-control dl dd .checkbox { position: relative;}
.form-control dl dd .forget{ position: absolute; right: 0; top: 0; font-size: 12px; line-height: 20px;}


/* gerenzhongxin
-------------------------------------------------------------------------------- */
.list-personal{ border:1px solid #f4f4f4; width: 100%;}
.list-personal tr th{ text-align: left; background-color: #f6f8fa; font-size: 14px; color: #666; height: 40px; vertical-align: middle; padding-left: 25px;}
.list-personal tr td{ border-bottom:1px solid #f4f4f4;text-align: left; vertical-align: top; padding: 25px 0; font-size: 14px;overflow: hidden; }
.list-personal tr td .check-box{ padding-left: 20px; display: block;}
.list-personal tr td .list-state{ text-align: center; }
.list-personal tr td .name-personal{ font-size: 18px;}
.list-personal tr td .name-personal a{ color: #333;}
.list-personal tr td .name-personal a:hover{color: #29b4bd;}
.list-personal tr td .name-personal p{ padding: 10px 0;}
.list-personal tr td .name-personal p span{ font-size: 12px; padding-right: 10px;}
.list-personal tr td .name-personal p span em{ color: #fc4a00; margin-left: 4px;}
.list-personal tr td .price-personal{ color: #999; font-size: 18px;}
.list-personal tr td .price-personal span{text-decoration: line-through; display: inline-block; margin-bottom: 10px;}
.list-personal tr td .price-personal em{ font-style: normal; color: #fff; background-color: #000; display: inline-block; height: 24px; line-height: 24px; padding: 0 8px;}
.list-personal tr td .price-last em{ font-style: normal; color: #fc4a00; font-style: 18px;}
.list-personal tr td .list-state{ color: #666; line-height: 24px;}
.list-personal tr td .caozuo-list{ line-height: 24px;}
.list-personal tr td .caozuo-list a{ color: #666; margin-bottom: 5px; display: inline-block;}
.list-personal tr td .caozuo-list a:hover{color: #fc4a00;_color: #fff;}
.list-personal tr td .caozuo-list .zhifu{ color: #fff; background-color: #fe9f1b; height: 24px; line-height: 24px; padding:0 10px;}
.list-personal tr td .caozuo-list .zhifu:hover{ color: #fff;}
.first-td{ width: 60px;}
.second-td{ width: 130px;}
.third-td{ width: 270px;}
.fourth-td{ width: 150px;}
.fifth-td{ width: 100px;}
.sixth-td{ width: 240px;}
.seventh-td{ width: 150px;}
.list-personal .counselor-img{ width: 110px; height: 100px;}
.list-personal .counselor-img img{ width: 100px; height: 100px;}

.float-bar-holder{ position: relative; font-size: 14px; color: #666; height: 80px; background-color: #f6f8fa; margin-top: 20px;}
.float-bar-holder a{ color: #666; line-height: 80px;}
.float-bar-holder a:hover{ color: #fc4a00;}
.select-all{ float: left; width: 70px; height: 80px; line-height: 80px; padding-left: 20px;_margin-top:28px; _height: auto;}
.select-all input{margin-bottom: 0; margin-top: 0;}
.operations{ float: left; height: 80px; line-height: 80px; font-size: 0;}
.operations a{ margin-right: 20px; font-size: 14px;}
.float-bar-right span{ padding: 0 13px;}
.float-bar-right span em{ font-size: 24px; color: #fc4a00; font-style: normal;}
.float-bar-right span,
.float-bar-right a{ float: left;}
.float-bar-right{position: absolute; right: 0; top: 0; z-index: 2; height: 80px; line-height: 80px;}
.float-bar-right .jiesuan{ background-color: #29b4bd; color: #fff; font-size: 30px; display: block;height: 80px; line-height: 80px; width: 160px; text-align: center;}
.float-bar-right .jiesuan:hover{ color: #fff;}
.modify-container{margin-top: 30px;}
.modify-inner{ width: 850px; margin: 0 auto; min-height: 450px; border:1px solid #dfdfdf;}
.modify-inner h2{ background-color: #f6f8fa; font-size: 14px; color: #999; height: 48px; line-height: 48px; padding-left: 30px; font-weight: bold;}
.modify-inner dl dd .btn-warning { width: auto; border-radius: 5px; color: #ffffff; font-size: 14px; padding: 0 48px; *padding: 0 24px; display: inline-block;line-height: 38px; background-color: #fe9f1b; border:none; height: 38px; color: white; cursor: pointer;}
.modify-inner .btn-link{ padding: 0 20px; font-size: 14px; color: #666;}
.modify-inner .btn-link:hover{ color: #29b4bd;}
.click-chuan{ display: block; width: 190px; height: 190px; margin: 70px auto 40px;border:2px dashed #fff;}
.click-chuan:hover{ border:2px dashed #ddd;}
.notice-text{ text-align: center; font-size: 14px; color: #999; line-height: 20px;}

/* pay center
-------------------------------------------------------------------------------- */
.pay-user-module{ padding: 25px 15px;}
.pay-user-image { width: 180px; height: 100px; float: left;}
.pay-user-image .head-portrait{padding:0 0 0 55px; width: 100px;}
.pay-user-image .head-portrait .face-link,
.pay-user-image .head-portrait .face-link .portrait-bg,
.pay-user-image .head-portrait .counselor-img img{ width: 100px; height: 100px;}
.pay-user-image .head-portrait .counselor-img { width: 100px;}
.pay-user-image .head-portrait .counselor-img .lazy{position: initial;}		

.pay-info{ width: 980px; float: right;}
.pay-info ul li{ float: left;}
.select-name{ width: 290px;}
.select-name p{ font-size: 12px;}
.select-name .name-title{ padding-bottom: 40px;}
.select-name p span{padding-right: 10px;}
.select-name p em{ font-style: normal; color: #fc4a00;margin-left: 4px;}
.select-name p a{ font-size: 18px;}
.pay-info .price-personal{ color: #999; font-size: 18px; width: 260px;}
.pay-info .price-personal span{text-decoration: line-through; display: inline-block; margin-bottom: 10px;}
.pay-info .price-personal em{ font-style: normal; color: #fff; background-color: #000; display: inline-block; height: 24px; line-height: 24px; padding: 0 8px;}
.pay-info .price-last{ width: 260px;}
.pay-info .price-last em{ font-style: normal; color: #fc4a00; font-size: 30px;}
.pay-info .price-state{ font-style: normal; color: #666; font-size: 18px; width: 170px;}

.pay-bank-list{ margin-top: 30px; padding: 0 5px;}
.j-card-element,
.bank-icon-container,
.channel-label{ display: inline-block; width: 170px; height: 40px; vertical-align: middle; font-size: 14px;}
.row-basic{width: 200px; margin: 0 15px 26px; float: left; font-size: 0; *display: inline;}
.channel-input{ vertical-align: middle; margin-right: 10px; *margin-top: 13px; *height: 13px; *width: 13px;}
.channel-input,
.channel-label{ *float: left;}

.bank-icon,
.bank-showName{ display: inline-block;  position: absolute; width: 168px; height: 38px;  border: 1px solid #d6d6d6; top: 0; left: 0;}

.bank-showName{z-index: 1; line-height: 38px; text-align: center;}
.bank-icon-container{ position: relative; cursor: pointer;}
.bank-icon-container span:hover{ border-color: #a11;}

.bank-icon{ z-index: 2;background: url("../images/bank.jpg") left top no-repeat; text-indent: -9999px}
.icon-cashier-ICBC{background-position: left top;}
.icon-cashier-ABC{ background-position: -223px top;}
.icon-cashier-CBC{background-position: -446px top;}
.icon-cashier-PSBC{background-position: -669px top;}
.icon-cashier-BOC{background-position: left -65px;}
.icon-cashier-BCM{background-position: -223px -65px;}
.icon-cashier-CMB{background-position: -446px -65px;}
.icon-cashier-CGB{background-position: -669px -65px;}
.icon-cashier-CEB{background-position: left -132px;}
.icon-cashier-CIB{background-position: -223px -132px;}
.icon-cashier-BOB{background-position: -446px -132px;}
.icon-cashier-SPD{background-position: -669px -132px;}
.icon-cashier-CMBC{background-position: left -197px;}
.icon-cashier-CCB{background-position: -223px -197px;}
.icon-cashier-HXB{background-position: -446px -197px;}
.icon-cashier-PAB{background-position: -669px -197px;}
.icon-cashier-WEIXIN{background-position: left -262px;}
.icon-cashier-ZHIFUBZO{background-position: -223px -262px;}

.next-step{ padding: 20px 0 30px; margin: 0 15px 30px; border-bottom: 1px solid #ddd;}
.next-step .warning-btn{ display: inline-block;padding: 0 34px; height: 32px; line-height: 32px; background-color: #fe9f1b; font-size: 14px; color: #fff; text-align: center; margin-left: 30px;}
.problem-list{ font-size: 12px; padding: 0 15px 0;}
.problem-list h2{ font-size: 14px; font-weight: bold; margin-bottom: 20px;}
.problem-list dl{ padding-bottom: 10px;}
.problem-list dl dt,
.problem-list dl dd{ margin-bottom: 10px;}
.problem-list dl dt{ font-size: 14px; padding-left: 18px; background: url("../images/star.jpg") left top no-repeat;}
.problem-list dl dd{ font-size: 12px; color: #666;}
.title-bg-grey{  background-color: #f6f8fa; font-size: 16px; color: #999; height: 48px; line-height: 48px; padding-left: 20px;}
.main-max-module{border: 1px solid #dfdfdf; margin-bottom: 25px;}




/* footer
-------------------------------------------------------------------------------- */
.footer{ background-color: #f7f6f3; padding: 40px 0 18px;}
.footer-list-box{ border-bottom: 1px solid #dfdfdf; padding-bottom: 20px;}
.footer-list{ float: left; width: 300px;}
.footer-list dl dt{ float: left; width: 48px; height: 48px;}
.footer-list dl dd{ float: right; width: 244px;}
.footer-list dl dd h4{font-size: 16px; margin-bottom: 14px;}
.footer-list dl dd p{font-size: 12px; color: #666;}
.footer-bottom{ padding-top: 30px;}
.bottom-list,
.bottom-list2,
.bottom-list3{ float: left;}
.bottom-list{ width: 205px;}
.bottom-list2{ width: 788px; padding-left: 90px;}
.bottom-list3{ width: 117px;}
.bottom-list3 img{ width: 70px; height: 70px;}
.bottom-list2 p{ font-size: 12px; color: #666; line-height: 28px;}
.bottom-list2 p em{ padding-left: 38px; font-style: normal;}